/* Shared */

body {
    background-image: url("../images/rene-bohmer-YeUVDKZWSZ4-unsplash.jpg");
    /* Background Image by Rene Bohmer */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.navbar {
    padding: 0;
}

.fixed-top {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f8f9fa;
}

#navname {
    background-color: rgb(134, 79, 134);
}

#name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 170%;
    padding: 8px;
    background-color:  rgb(134, 79, 134);
    color: white;
}

#back-card {
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding-bottom: 1rem;
    width: 35rem;
}

#header1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(134, 79, 134);
}

#hr-bar {
    background-color:  rgb(134, 79, 134);
    margin: 0;
    margin-top: 10rem;
    padding: 0.2rem;
}

#copyrightText {
    padding: 1rem;
    color: rgb(114, 114, 145);
}

/* index.html */

.links {
    color: rgb(114, 114, 145);
}

#back-card-index {
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding-bottom: 1rem;
    width: 35rem;
}

/* portfolio.html */

.portImg {
    margin: 1rem;
    border: black;
}

.figureCap {
    margin: 1rem;
}

#back-card-port {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-bottom: 1rem;
    width: 51rem;
}

/* contact.html */

#back-card-contact {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-bottom: 1rem;
    width: 35rem;
}

#subBtn {
    background-color:  rgb(134, 79, 134);
    color: white;
}

/* media querys */

@media screen and (max-width: 991px) {

#back-card-index {
    width: 30rem;
}
#back-card-contact {
    width: 30rem;
}

}

@media screen and (max-width: 767px) {
    
#back-card-index {
    width: 25rem;
}

#back-card-port {
    width: 26rem;
}

#back-card-contact {
    width: 25rem;
}

#portImg2 {
    float: left;
}

#portImg4 {
    float: left;
}
    
}

@media screen and (max-width: 575px) {
    
#back-card-index {
    width: 20rem;
}

#back-card-contact {
    width: 22rem;
}

#cardText {
    float: left;
}

#back-card-port {
    width: 26rem;
}

#portImg2 {
    float: left;
}

#portImg4 {
    float: left;
}
    
}